---
http_interactions:
- request:
    method: get
    uri: https://accounts.zoho.com/oauth/serverinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      content-language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        {
          "result": "success",
          "locations": {
            "eu": "https://accounts.zoho.eu",
            "ae": "https://accounts.zoho.ae",
            "au": "https://accounts.zoho.com.au",
            "in": "https://accounts.zoho.in",
            "jp": "https://accounts.zoho.jp",
            "uk": "https://accounts.zoho.uk",
            "us": "https://accounts.zoho.com",
            "ca": "https://accounts.zohocloud.ca",
            "sa": "https://accounts.zoho.sa"
          }
        }
  recorded_at: Mon, 05 May 2025 10:36:05 GMT
recorded_with: VCR 6.3.1
