#!/usr/bin/env zsh
PROJECT_ROOT=$(dirname "${0:a:h}")
env_files=$(
  find "${PROJECT_ROOT}" -maxdepth 1 -name ".env.${NODE_ENV}*" -type f | sort
)
for env_file in $env_files; do
  if [[ -f "$env_file" ]]; then
    echo "Loading $env_file"
    source "$env_file"
  fi
done
