# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored

# Ensure this file is NOT encrypted
.gitattributes !filter !diff

# Rails credentials
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

# Encrypt sensitive files using git-crypt
.env.development* filter=git-crypt diff=git-crypt
.env.local filter=git-crypt diff=git-crypt
.env.test filter=git-crypt diff=git-crypt
.env filter=git-crypt diff=git-crypt
spec/fixtures/pii/** filter=git-crypt diff=git-crypt
db/development/postgres/downloads/**/*.sql filter=git-crypt diff=git-crypt

# Identify the Yarn releases and plugin bundles as binary
.yarn/releases/** binary
.yarn/plugins/** binary
