services:
  mailhog:
    container_name: mailhog.cami.larcity
    image: mailhog/mailhog
    platform: linux/amd64
    restart: unless-stopped
    ports:
      - "16545:1025"
      - "16585:8025"
    profiles:
      - batteries-included
      - all

  redis:
    image: redis
    restart: always
    command: ["--maxmemory-policy", "noeviction"]
    ports:
      - "16079:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10
    profiles:
      - all
      - batteries-included
      - essential

  # Doc: https://ngrok.com/docs/using-ngrok-with/docker/#:~:text=Using%20ngrok%20with%20Docker%20Compose
  tunnel:
    container_name: ngrok.cami.larcity
    image: ngrok/ngrok
    restart: unless-stopped
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTH_TOKEN}
      NGROK_CONFIG: /etc/ngrok.yml
    command:
      # CLI docs: https://ngrok.com/docs/agent/cli/#ngrok-start
      - "start"
      - "--all"
    volumes:
      # Be sure to run bin/thor lx-cli:tunnel:init to generate the ngrok.yml file
      - ./config/ngrok-via-docker.yml:/etc/ngrok.yml
    ports:
      - "4040:4040"
    profiles:
      - all

  app-store:
    container_name: db.cami.larcity
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${APP_DATABASE_NAME}
      POSTGRES_USER: ${APP_DATABASE_USER}
      POSTGRES_PASSWORD: ${APP_DATABASE_PASSWORD}
      POSTGRES_HOST_AUTH_METHOD: trust # IMPORTANT allows all connections without a password - experimental only!
    ports:
      - "16032:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/${RAILS_ENV:-development}/postgres/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - ./db/${RAILS_ENV:-development}/postgres/downloads:/usr/local/downloads
    healthcheck:
      test: pg_isready -U ${APP_DATABASE_USER} -h localhost -d ${APP_DATABASE_NAME}
      interval: 5s
      timeout: 5s
      retries: 10
    profiles:
      - batteries-included
      - essential
      - all

  crm-store:
    image: postgres:17
    container_name: db.twenty.larcity
    volumes:
      - server_postgres_data:/var/lib/postgresql/data
      - ./db/${NODE_ENV:-development}/postgres/downloads:/usr/local/downloads
    environment:
      POSTGRES_DB: ${CRM_DATABASE_NAME:-default}
      POSTGRES_PASSWORD: ${APP_DATABASE_PASSWORD}
      POSTGRES_USER: ${APP_DATABASE_USER}
    healthcheck:
      test: pg_isready -U ${APP_DATABASE_USER} -h localhost -d ${CRM_DATABASE_NAME:-default}
      interval: 5s
      timeout: 5s
      retries: 10
    restart: always
    profiles:
      - batteries-included
      - essential
      - all

  server:
    container_name: twenty-server.cami.larcity
    image: twentycrm/twenty:${TAG:-latest}
    volumes:
      - server_local_data:/app/packages/twenty-server/.local-storage
    ports:
      - "${CRM_SERVICE_PORT:-16016}:3000"
    environment:
      NODE_PORT: 3000
      PG_DATABASE_URL: postgres://${APP_DATABASE_USER:-postgres}:${APP_DATABASE_PASSWORD:-postgres}@${PG_DATABASE_HOST:-crm-store}:${PG_DATABASE_PORT:-5432}/${CRM_DATABASE_NAME:-default}
      SERVER_URL: ${SERVER_URL}
      REDIS_URL: ${CRM_REDIS_URL:-redis://redis:6379}
      DISABLE_DB_MIGRATIONS: ${DISABLE_DB_MIGRATIONS}
      DISABLE_CRON_JOBS_REGISTRATION: ${DISABLE_CRON_JOBS_REGISTRATION}

      STORAGE_TYPE: ${STORAGE_TYPE}
      STORAGE_S3_REGION: ${STORAGE_S3_REGION}
      STORAGE_S3_NAME: ${STORAGE_S3_NAME}
      STORAGE_S3_ENDPOINT: ${STORAGE_S3_ENDPOINT}

      APP_SECRET: ${APP_SECRET:-replace_me_with_a_random_string}
      # MESSAGING_PROVIDER_GMAIL_ENABLED: ${MESSAGING_PROVIDER_GMAIL_ENABLED}
      # CALENDAR_PROVIDER_GOOGLE_ENABLED: ${CALENDAR_PROVIDER_GOOGLE_ENABLED}
      # AUTH_GOOGLE_CLIENT_ID: ${AUTH_GOOGLE_CLIENT_ID}
      # AUTH_GOOGLE_CLIENT_SECRET: ${AUTH_GOOGLE_CLIENT_SECRET}
      # AUTH_GOOGLE_CALLBACK_URL: ${AUTH_GOOGLE_CALLBACK_URL}
      # AUTH_GOOGLE_APIS_CALLBACK_URL: ${AUTH_GOOGLE_APIS_CALLBACK_URL}

      # CALENDAR_PROVIDER_MICROSOFT_ENABLED: ${CALENDAR_PROVIDER_MICROSOFT_ENABLED}
      # MESSAGING_PROVIDER_MICROSOFT_ENABLED: ${MESSAGING_PROVIDER_MICROSOFT_ENABLED}
      # AUTH_MICROSOFT_ENABLED: ${AUTH_MICROSOFT_ENABLED}
      # AUTH_MICROSOFT_CLIENT_ID: ${AUTH_MICROSOFT_CLIENT_ID}
      # AUTH_MICROSOFT_CLIENT_SECRET: ${AUTH_MICROSOFT_CLIENT_SECRET}
      # AUTH_MICROSOFT_CALLBACK_URL: ${AUTH_MICROSOFT_CALLBACK_URL}
      # AUTH_MICROSOFT_APIS_CALLBACK_URL: ${AUTH_MICROSOFT_APIS_CALLBACK_URL}

      # EMAIL_FROM_ADDRESS: ${EMAIL_FROM_ADDRESS:-contact@yourdomain.com}
      # EMAIL_FROM_NAME: ${EMAIL_FROM_NAME:-"John from YourDomain"}
      # EMAIL_SYSTEM_ADDRESS: ${EMAIL_SYSTEM_ADDRESS:-system@yourdomain.com}
      # EMAIL_DRIVER: ${EMAIL_DRIVER:-smtp}
      # EMAIL_SMTP_HOST: ${EMAIL_SMTP_HOST:-smtp.gmail.com}
      # EMAIL_SMTP_PORT: ${EMAIL_SMTP_PORT:-465}
      # EMAIL_SMTP_USER: ${EMAIL_SMTP_USER:-}
      # EMAIL_SMTP_PASSWORD: ${EMAIL_SMTP_PASSWORD:-}

    restart: unless-stopped
    depends_on:
      crm-store:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: curl --fail http://localhost:3000/healthz
      interval: 5s
      timeout: 5s
      retries: 20
    profiles:
      - all
      - batteries-included
      - essential

  worker:
    container_name: twenty-worker.cami.larcity
    image: twentycrm/twenty:${TAG:-latest}
    volumes:
      - server_local_data:/app/packages/twenty-server/.local-storage
    ports:
      - "${CRM_SERVICE_PORT:-16016}:3000"
    environment:
      NODE_PORT: 3000
      PG_DATABASE_URL: postgres://${APP_DATABASE_USER:-postgres}:${APP_DATABASE_PASSWORD:-postgres}@${PG_DATABASE_HOST:-crm-store}:${PG_DATABASE_PORT:-5432}/${CRM_DATABASE_NAME:-default}
      SERVER_URL: ${SERVER_URL}
      REDIS_URL: ${CRM_REDIS_URL:-redis://redis:6379}
      DISABLE_DB_MIGRATIONS: "true" # it already runs on the server
      DISABLE_CRON_JOBS_REGISTRATION: "true" # it already runs on the server

      STORAGE_TYPE: ${STORAGE_TYPE}
      STORAGE_S3_REGION: ${STORAGE_S3_REGION}
      STORAGE_S3_NAME: ${STORAGE_S3_NAME}
      STORAGE_S3_ENDPOINT: ${STORAGE_S3_ENDPOINT}

      APP_SECRET: ${APP_SECRET:-replace_me_with_a_random_string}
      # MESSAGING_PROVIDER_GMAIL_ENABLED: ${MESSAGING_PROVIDER_GMAIL_ENABLED}
      # CALENDAR_PROVIDER_GOOGLE_ENABLED: ${CALENDAR_PROVIDER_GOOGLE_ENABLED}
      # AUTH_GOOGLE_CLIENT_ID: ${AUTH_GOOGLE_CLIENT_ID}
      # AUTH_GOOGLE_CLIENT_SECRET: ${AUTH_GOOGLE_CLIENT_SECRET}
      # AUTH_GOOGLE_CALLBACK_URL: ${AUTH_GOOGLE_CALLBACK_URL}
      # AUTH_GOOGLE_APIS_CALLBACK_URL: ${AUTH_GOOGLE_APIS_CALLBACK_URL}

      # CALENDAR_PROVIDER_MICROSOFT_ENABLED: ${CALENDAR_PROVIDER_MICROSOFT_ENABLED}
      # MESSAGING_PROVIDER_MICROSOFT_ENABLED: ${MESSAGING_PROVIDER_MICROSOFT_ENABLED}
      # AUTH_MICROSOFT_ENABLED: ${AUTH_MICROSOFT_ENABLED}
      # AUTH_MICROSOFT_CLIENT_ID: ${AUTH_MICROSOFT_CLIENT_ID}
      # AUTH_MICROSOFT_CLIENT_SECRET: ${AUTH_MICROSOFT_CLIENT_SECRET}
      # AUTH_MICROSOFT_CALLBACK_URL: ${AUTH_MICROSOFT_CALLBACK_URL}
      # AUTH_MICROSOFT_APIS_CALLBACK_URL: ${AUTH_MICROSOFT_APIS_CALLBACK_URL}

      # EMAIL_FROM_ADDRESS: ${EMAIL_FROM_ADDRESS:-contact@yourdomain.com}
      # EMAIL_FROM_NAME: ${EMAIL_FROM_NAME:-"John from YourDomain"}
      # EMAIL_SYSTEM_ADDRESS: ${EMAIL_SYSTEM_ADDRESS:-system@yourdomain.com}
      # EMAIL_DRIVER: ${EMAIL_DRIVER:-smtp}
      # EMAIL_SMTP_HOST: ${EMAIL_SMTP_HOST:-smtp.gmail.com}
      # EMAIL_SMTP_PORT: ${EMAIL_SMTP_PORT:-465}
      # EMAIL_SMTP_USER: ${EMAIL_SMTP_USER:-}
      # EMAIL_SMTP_PASSWORD: ${EMAIL_SMTP_PASSWORD:-}

    restart: unless-stopped
    depends_on:
      crm-store:
        condition: service_healthy
      server:
        condition: service_healthy

volumes:
  postgres_data:
  server_postgres_data:
  server_local_data:

networks:
  default:
    name: larcity_apps
    enable_ipv6: true
    driver: bridge
