---
http_interactions:
- request:
    method: get
    uri: https://api-m.sandbox.paypal.com/v1/catalogs/products?page_size=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      paypal-debug-id:
      - fa3c450b33c0c
      edge-control:
      - max-age=0
    body:
      encoding: UTF-8
      string: '{"products":[{"id":"COM-GSUITE-BASIC-ANNUAL","name":".COM G-Suite Basic
        Plan @ $6 / user / mo. (billed annually)","description":"Includes relay subscription
        for G-Suite basic and a .COM domain name registered via domains.google","create_time":"2020-09-15T04:32:06Z","links":[{"href":"https://api.paypal.com/v1/catalogs/products/COM-GSUITE-BASIC-ANNUAL","rel":"self","method":"GET"}]},{"id":"GSUITE-RELAY","name":"G-Suite
        Relay","description":"Relay billing for Google''s G-Suite services to unsupported
        markets or delegating clients","create_time":"2020-09-15T04:43:55Z","links":[{"href":"https://api.paypal.com/v1/catalogs/products/GSUITE-RELAY","rel":"self","method":"GET"}]},{"id":"gsuite-basic-inbox","name":"G-Suite
        Basic E-Mail Inbox","description":"Associate e-mail service at your custom
        domain, with the popular GMail [...]
