<head>
  <title>CAMI</title>
  <link rel="icon" type="image/png" href="<%= image_url('logo@1024px.png') %>">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>
</head>
