<div class="mx-auto md:w-2/3 w-full dark:text-white">
  <h1 class="font-bold text-4xl">Editing invoice</h1>

  <% content_for :form_actions do %>
    <%= link_to "Back to invoices", invoices_path, class: secondary_btn_classes("ml-2 py-3 px-5") %>
    <%= link_to "Show this invoice", @invoice, class: secondary_btn_classes("ml-2 mr-2 py-3 px-5") %>
  <% end %>

  <%= render "form", invoice: @invoice %>
</div>
