<span id="main_logo" class="space-x-3">
  <img
    class="h-10 dark:hidden"
    alt="<%= t('accessibility.main.logo') %>"
    src=<%= image_url('logo.2019.black@60px.png') %> />
  <img
      class="h-10 light:hidden"
      alt="<%= t('accessibility.main.logo') %>"
      src=<%= image_url('logo.2019.white@60px.png') %> />
</span>
