<div id="<%= dom_id webhook %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">URL:</strong>
    <%= webhook.url %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Verification token:</strong>
    <%= webhook.verification_token %>
  </p>
</div>
