<% content_for :title, "Editing webhook" %>

<div class="mx-auto md:w-2/3 dark:text-white w-full min-h-[var(--lc-min-form-height)]">
  <h1 class="font-bold text-4xl">Editing webhook</h1>

  <% content_for :form_actions do %>
    <%= link_to "Show this webhook", @webhook, class: secondary_btn_classes("px-5 py-3") %>
    <%= link_to "Back to webhooks", webhooks_path, class: secondary_btn_classes("px-5 py-3 md:mx-2") %>
  <% end %>

  <%= render webhook_view_partial_path, webhook: @webhook %>
</div>
