# Persisting the default state of features in this config file since
#   the feature flags may not persisted across restarts in the data
#   store (e.g. redis in low rent environments).
default: &default
  feat__google_omniauth:
    enabled: true
  feat__accounts:
    enabled: false
  feat__dashboard:
    enabled: false
  feat__products:
    enabled: false
  feat__services:
    enabled: false
  feat__showcase:
    enabled: false
  feat__storybook:
    enabled: false
  feat__invoices:
    enabled: false
  feat__filterable_billing_type_badge:
    enabled: false
  feat__sortable_invoice_index:
    enabled: false
development: &development
  <<: *default
  feat__dashboard:
    enabled: false
  feat__accounts:
    enabled: true
  feat__invoices:
    enabled: true
  feat__push_updates_to_crm:
    enabled: true
  feat__filterable_billing_type_badge:
    enabled: true
  feat__sortable_invoice_index:
    enabled: true
  feat__showcase:
    enabled: true
  feat__webhooks:
    enabled: true
  feat__notion_webhook_skip_signature_validation:
    enabled: true
  feat__notion_integration_dashboard:
    enabled: true
  feat__notion_use_persist_event_workflow:
    enabled: true
test:
  <<: *default
staging:
  <<: *default
production:
  <<: *default
