<!-- Dropdown menu -->
<div id="<%= menu_id %>" class="z-10 hidden bg-white divide-y divide-gray-100 border border-gray-100 rounded-lg shadow-sm w-44 dark:border-gray-600 dark:bg-gray-700 dark:divide-gray-600">
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="<%= menu_trigger_id %>">
    <li>
      <%= link_to "Raw data",
                  webhook_event_path(@webhook, event, format: :json),
                  class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
      %>
    </li>
    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
    </li>
    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
    </li>
  </ul>
  <div class="py-2">
    <%= link_to "Prepare deal", "#",
                class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
    %>
  </div>
</div>
