<div class="flex items-center justify-start">
  <a href="<%= cta_resource_url %>" class="<%= primary_btn_classes %>" title="<%= cta_label %>">
    <span class="fa-solid fa-house"></span>
    <span><%= cta_label %></span>
  </a>
</div>