<p class="text-4xl md:text-5xl lg:text-6xl font-bold tracking-wider text-gray-300 mt-2">
  <%= t('exceptions.internal_server_error_short') %>
</p>
<p class="text-lg md:text-xl lg:text-2xl text-gray-500 my-12">
  <%= t('exceptions.internal_server_error') %>
</p>
<%= render 'errors/links' %>