<span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© <%= Time.current.year.to_s %> <a href="https://madebylar.city/" class="hover:underline">LarCity LLC</a>. All Rights Reserved.</span>
