/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@use "fontawesome";

// NPM imports
@use "../../../node_modules/tailwindcss";
@use "../../../node_modules/tailwindcss/preflight";
@use "../../../node_modules/flowbite/src/themes/default";
@use "../../../node_modules/tailwindcss/utilities";

// Local stylesheet imports
@use "../../frontend/entrypoints/stylesheets/global";
@use "../../frontend/entrypoints/stylesheets/buttons";
@use "../../frontend/entrypoints/stylesheets/form";
@use "../../frontend/entrypoints/stylesheets/alert";
@use "../../frontend/entrypoints/stylesheets/navbar";

//@tailwind utilities;

//@source "../../../node_modules/tailwindcss";
//@source "../../../node_modules/flowbite";

#main_logo > img, footer img.logo {
  width: auto;
}

.product-summary section:first-child {
  min-height: 280px;
}

.fancy-separator {
  height: 0.15rem;
}

.PhoneInput {
  input[type="tel"] {
    border-width: 0;
  }
}

.PhoneInputInput {
  border-width: 0;
}
