<div class="flex min-h-[var(--lc-min-form-height)] flex-col justify-center items-center py-0 md:px-6 lg:px-8">
  <div class="w-full md:mx-auto md:max-w-md dark:text-gray-400">
    <%= yield :centered_form_layout %>
  </div>
</div>
