<% title ||= "Account" %>
<div class="flex flex-wrap items-center justify-between mx-auto py-4 text-4xl">
  <h1 class="text-4xl font-bold"><%= title %></h1>
  <code><%= account.slug %></code>
</div>

<!-- Notices and alerts -->
<% if flash[:success].present? %>
  <%= render "shared/alerts/success", message: flash[:success] %>
<% end %>

<% if account.last_sent_to_crm_at %>
  <!-- Show the relative time since the last sync in a success alert -->
  <%= render "shared/alerts/info",
             message: I18n.t("messages.accounts.last_crm_sync", human_readable_time: time_ago_in_words(account.last_sent_to_crm_at)) %>
<% end %>
